﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

footer {
    min-height: 5%;
    background-color: #222;
}

    footer p {
        color: #9d9d9d;
        padding: 15px 15px;
        margin: 0;
    }

.main {
    width: 100%;
}

.navbar-brand {
    text-align: center;
    width: 100%;
}

.site-icon {
    max-width: 25px;
    max-height: 25px;
}
.jumbotron-menu-item {
    font-size: 18px;
}

.jumbotron-menu {
    padding: 0;
    list-style-type: none;
}



.blog-container {
    padding-left: 0;
}
.feedback-container-header::first-letter {
     font-size: 170%;
}
.questionnaire-rule-list {
    padding-left: 22px;
    padding-top: 5px;
    font-size: 20px;
    margin-bottom: 25px;
}
.questionnaire-form {
    padding: 20px 0 0 0;
}
.form-container {
    color: #000000;
    padding-top: 20px;
}
.field-validation-error {
    color: #b94a48;
}
.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}
.validation-summary-errors {
    color: #b94a48;
}