﻿@model System.Collections.Generic.IEnumerable<Task23BugLess.Models.Feedback>

<div class="feedback-container">
    @foreach (var feedback in Model)
    {
        <div class="feedback">
            <h2>@feedback.Content</h2>
            <b><i>Author: @feedback.AuthorName</i></b>
            <h5>Date: @feedback.CreationTime</h5>
            <h5>Id: @feedback.BlogId</h5>
        </div>
    }
</div>
<div class="feedback-form">
    @using (Html.BeginForm("Feedback", "Guest", FormMethod.Post))
    {
        <input class="form-control" type="hidden" value="@ViewBag.BlogId" name="blogId" />
        <p for="authorName">Enter author name: </p>
        <input class="form-control" type="text" id="authorName" name="authorName" />
        <p for="content">Enter feedback text: </p>
        <input class="form-control" type="text" id="content" name="content" />
        <p for="feedbackContent">Creation time: </p>
        <input class="form-control" type="text" id="feedbackCreationTime" name="feedbackCreationTime" value="@DateTime.Now" disabled />
        <p><input class="btn btn-default" type="submit" value="send" /></p>
    }
</div>