﻿@model IEnumerable<Task23BugLess.Models.Feedback>
    @{
        ViewBag.Title = "Index";
    }


    <div class="feedback-container">
        <h1 class="feedback-container-header">Feedback History</h1>
        @foreach (var feedback in Model)
        {
            <div class="feedback">
                <h2>@feedback.Content</h2>
                <b><i>Author: @feedback.AuthorName</i></b>
                <h5>Date: @feedback.CreationTime</h5>
                <h3>@feedback.BlogId</h3>
            </div>
        }
    </div>