﻿@using Task23BugLess.Helpers
@model Task23BugLess.Models.Blog

@{
    ViewBag.Title = "New";
}
@{
    List<string> creationPostList = new List<string>()
    {
        "Your post should not contain text that incites hatred",
        "Post text must not contain obscene language ",
        "Author name should be real name",
        "Post should have 3 links to trusted sources"
    };

    List<string> selectOptions = new List<string>()
    {
        "First option",
        "Second option",
        "Third option",
        "Fourth option",
        "Five option"
    };
 }
<div class="form-container">
    <h2>Rules for creating form</h2>
    @Html.CreateList(creationPostList, HelperType.Ol)
    @Html.CreateSelect(selectOptions, "test-options")

    @using (Html.BeginForm("New", "Questionnaire", FormMethod.Post, new { @class = "questionnaire-form" }))
    {
        <p>Enter header: </p>
        <input class="form-control" type="text" id="header" name="header" />
        @Html.ValidationMessageFor(model => model.Header)
        <p>Enter content: </p>
        <input class="form-control" type="text" id="content" name="content" />
        @Html.ValidationMessageFor(model => model.Content)
        <p>Enter author name: </p>
        <input class="form-control" type="text" id="authorName" name="authorName" />
        @Html.ValidationMessageFor(model => model.AuthorName)
        <p>Creation time: </p><input class="form-control" type="text" id="creationTime" name="creationTime" value="@DateTime.Now" disabled />
        <p><input class="btn btn-default" type="submit" value="send" /></p>
    }
</div>