﻿@model IEnumerable<Task23BugLess.Models.Blog>

<div>
    @foreach(var blog in Model) 
    {
        <div class="blog">
            <h2>@blog.Header</h2>
            <p>
                @blog.Content
            </p>
            <b><i>Author: @blog.AuthorName</i></b>
            <h5>Date: @blog.CreationTime</h5>
            @Html.ActionLink("See comments", "Feedback", "Guest", new { id = blog.Id }, new {@class = "blog-link" })
        </div>
    }
</div>